<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cocktail Party</title>
     <link rel="stylesheet" href="css/uikit.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto+Mono:ital,wght@1,100&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body class="mainpage">
    <div class="wrapper">
      <div class="header">
        <header>
          <h1 class="uk-heading-medium">
            {{!we should link cocktail party title to the dashboard as well. ex facebooks main dashbord has its feed AND a way to make a new post.}}
            <a href="/" class="cocktail-party">Cocktail Party!</a>
          </h1>
          <nav>
            {{#if loggedIn}}
              <a href="/dashboard"class="cocktail-party">dashboard</a>
              <button id="logout" class="btn-no-style">logout</button>
            {{else}}
              <a href="/login" class="cocktail-party" >login</a>
            {{/if}}
          </nav>
      </header>
      </div>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for drinking!
      </footer>
    </div>
    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>
<script src="https://apps.elfsight.com/p/platform.js" defer></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/javascript/search.js"></script>
<script src="js/uikit.min.js"></script>
<script src="js/uikit-icons.min.js"></script>


{{!-- <div class="elfsight-app-2ea16cd0-afd8-4d49-bdb2-f811dd776d65"></div> --}}

</html>