<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./public/stylesheets/searchCSS.css">
  <title>Brewery Search</title>
</head>

<body class="flex-column min-100-vh">
  <header class="hero">
    <h1 class="app-title"><i class="fab fa-github"></i>Brewery Search</h1>
    <p></p>
  </header>


  <main class="flex-row justify-space-between">
    <div class="col-12 col-md-4">

      <div class="card">
        <h3 class="card-header text-uppercase">Search for a city</h3>
        <form id="user-form" class="card-body">
          <label class="form-label" for="username">City</label>
          <input name="username" id="username" type="text" autofocus="true" class="form-input" />
          <button type="submit" class="btn">Get Buzzed</button>
        </form>
      </div>
    </div>

    <div class="col-12 col-md-8">
      <h2 class="subtitle">Showing Breweries: <span id="repo-search-term"></span></h2>
      <div id="repos-container" class="list-group">

      </div>
    </div>
  </main>
<script src="../public/javascript/breweryScript.js"></script>
  <script src="../public/javascript/searchMap.js"></script>


