<div class="background-img-one">
<div>
<input id="search-bar" placeholder="Search">
<button id="search-button"><i class="fa fa-search"></i></button>
</div>
<ol class="post-list">
    {{#each posts as |post|}}
  <li>
      {{> post-info post }}
  </li>
  {{/each}}
</ol>
</div>