<div class="background-img-two uk-child-width-expand@s uk-text-center uk-height-1-1 uk-grid-row" uk-grid>
  <div>
    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-align-left">
      <form class="login-form uk-position-center uk-responsive-width">
        <div>
          <h2>Login</h2>
          <label for="email-login">email:</label>
          <input type="text" id="email-login" />
        </div>
        <div>
          <label for="password-login">password:</label>
          <input type="password" id="password-login" />
        </div>
        <div>
          <button type="submit">login</button>
        </div>
      </form>
    </div>
  


    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-align-right">
      <form class="signup-form uk-position-center uk-responsive-width">
          <div>
            <h2>New User</h2>
            <label for="username-signup">username:</label>
            <input type="text" id="username-signup" />
          </div>
          <div>
            <label for="email-signup">email:</label>
            <input type="text" id="email-signup" />
          </div>
          <div>
            <label for="password-signup">password:</label>
            <input type="password" id="password-signup" />
          </div>
          <div>
            <button type="submit">signup</button>
          </div>
        </form>
    </div>
    <script src="/javascript/login.js"></script>
</div>















{{!-- 
<div class="uk-child-width-expand@s uk-text-center uk-height-1-1 " uk-grid>
  <div class="uk-card  uk-card-body">
    <div class="uk-card uk-card uk-card-body uk-margin-xlarge-top">
      <a href="https://suicidepreventionlifeline.org/talk-to-someone-now/"><img src="/stylesheets/images/hotlineNEW.png"
          width="500" height="200" alt=""></a>
    </div>
  </div>
  <div class="uk-card  uk-card-body uk-margin-xlarge-top">
    <form class="uk-position-center uk-responsive-width login-form">

      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail" style="color:rgb(223, 35, 98)"></span>
          <label for="email-login"></label>
          <input type="text" class="uk-form-large uk-border-rounded" id="email-login" placeholder="email" />
        </div>
      </div>

      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon:lock" style="color:rgb(223, 35, 98)"></span>
          <label for="password-login"></label>
          <input type="password" class="uk-form-large uk-border-rounded" id="password-login" placeholder="password" />
        </div>
      </div>
      <div>
        <button class="uk-button uk-button-danger uk-border-rounded" type="submit">login</button>
      </div>
    </form>
  </div>



  <div class="uk-card  uk-card-body uk-margin-xlarge-top">
    <form class="signup-form uk-responsive-width">
      <div>
        <div class="uk-margin">
          <div class="uk-inline">
            <span class="uk-form-icon uk-form-icon-flip" style="color:rgb(223, 35, 98)" uk-icon="icon: user"></span>
            <label for="username-signup"></label>
            <input type="text" class="uk-form-large uk-border-rounded" id="username-signup" placeholder="username" />
          </div>
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: mail" style="color:rgb(223, 35, 98)"></span>
          <label for="email-signup"></label>
          <input type="text" class="uk-form-large uk-border-rounded" id="email-signup" placeholder="email" />
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-inline">
          <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock" style="color:rgb(223, 35, 98)"></span>
          <label for="password-signup"></label>
          <input type="password" class="uk-form-large uk-border-rounded" id="password-signup" placeholder="password"/>
        </div>
      </div>
      <div>
        <button class="uk-button uk-button-danger uk-border-rounded" type="submit">signup</button>
      </div>
    </form>
  </div> --}}


</div>