<div class="background-img-two">
  <div class="uk-child-width-expand@s uk-text-center uk-height-1-1"	uk-grid>

    <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
      <form class="login-form">
        <div>
          <h2>Login</h2>
          <label for="email-login">email:</label>
          <input type="text" id="email-login" />
        </div>
        <div>
          <label for="password-login">password:</label>
          <input type="password" id="password-login" />
        </div>
        <div>
          <button type="submit">login</button>
        </div>
      </form>
    </div>
  </div>


     <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
      <form class="signup-form">
          <div>
            <h2>New User</h2>
            <label for="username-signup">username:</label>
            <input type="text" id="username-signup" />
          </div>
          <div>
            <label for="email-signup">email:</label>
            <input type="text" id="email-signup" />
          </div>
          <div>
            <label for="password-signup">password:</label>
            <input type="password" id="password-signup" />
          </div>
          <div>
            <button type="submit">signup</button>
          </div>
        </form>
      </div>
<script src="/javascript/login.js"></script>
</div>