* {
  box-sizing: border-box;
  
}

ol {
  margin-bottom: 0px !important;
}

.mainpage {
  font-family: 'DM Sans', sans-serif;
    height: 100%;
    padding: 0;
    margin: 0;
    background: #732e05;

  }

  .background-img-one {
    background-image: url(/images/DSC_3584.JPG);
    background-size: cover;
    /* position: sticky; */
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    width:100%;
    min-height: 100vh;
  }

  .background-img-two {
    background-image: url(/images/DSC_3598.JPG);
    background-size: cover;
    /* position: sticky; */
    background-position: center;
    background-repeat: repeat;
    width:100%;
    height: auto;
  }

  .background-img-three {
    background-image: url(/images/DSC_3596.JPG);
    background-size: cover;
    /* position: sticky; */
    background-position: center;
    background-repeat: repeat;
    width:100%;
    min-height: 100vh;
  }

  /* body, html {
    /* color: #333333; */
   
  
  .cocktail-party {
    color: #000000;
    font-family: 'DM Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
  }
  
  a:hover {
    color: rgba(194,77,44,1);
  }
  
  button {
    background-color: black;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: rgba(194,77,44,1);
  }
  
  .post-list {
    margin: 0;
    padding: 0;
  }
  
  textarea, input {
    padding: .5%;
    border: 2px outset #000000;
    border-radius: 40px;

  }
  
  textarea:focus, input:focus {
    outline: none;
    border: 2px solid #3486eb;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
    padding-left: 25px;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* background: linear-gradient(90deg, rgba(26,38,57,1) 0%, rgba(62,74,97,1) 20%, rgba(194,77,44,1) 40%, rgba(217,218,215,1) 100%); */

   
  }
  
  header {
    /* border-bottom: 1px solid #ccc; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background: #732e05;
    border-bottom: #000000 solid 10px;
    /* background: linear-gradient(90deg, rgba(26,38,57,1) 0%, rgba(62,74,97,1) 20%, rgba(194,77,44,1) 40%, rgba(217,218,215,1) 100%); */
    /* border: 10px outset #d9dad7;
    border-radius: 40px; */
    margin: 0;
    
  }
  
  header h1 {
    font-size: 2em;
  
    color: rgba(217,218,215,1);
  }
  
  main {
    flex: 1;
    /* padding: 2% 4%; */
    /* background: rgb(26,38,57,1); */
    color: rgba(217,218,215,1);

  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color:black;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: rgba(194,77,44,1)
  }
  
  .delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: rgba(194,77,44,1);
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
    border: 10px outset #d9dad7;
    border-radius: 40px;
    /* padding: 5px; */
    background: rgb(115, 46, 5, .4);
  }
  

  .post-wrapper {
    position: relative;
    z-index: 1;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    padding-bottom: 30px;
  }
  
  
  .comment-form {
    margin-bottom: 5%;
    border-radius: 15px;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
    border:black solid 1px;
    border-radius: 20px;
  }
  
  .comment:nth-child(odd) {
    background-color: #ec9d93;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
    color: black;
  }
  
  .new-post-form input {
    width: 300px;
    padding-left: 10px;
    border: black solid 2px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
    
  }
  
  footer {
    border-top: 1px solid rgb(0, 0, 0);
    display: flex;
    background-color: #732e05;
    justify-content: center;
    padding: 1%;
    bottom: 0;
    width: 100%;
    position: sticky;
    font-size: 110%;
  }

  .post_title {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    color:#ececec;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
    font-size: x-large;
    text-decoration: underline
  }
  .content{
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    color:#ececec;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
    font-size:large;
  }
  .meta{
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
    color:#ececec;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
    font-size:small;
  }

/* .login-form{
  text-align: center;
  padding-top: 20px;
  margin:50px
  
} */
/* .signup-form{
  text-align: center;
  padding: 20px;
  margin: 50px;

} */
.img{
  width: 15%;
}